@import 'tailwindcss';

@theme inline {
  --font-pretendard: 'Pretendard', sans-serif;

  /* Display Styles */
  --text-displayLarge: 24px;
  --text-displayLarge--line-height: 30px;
  --text-displayLarge--font-weight: 700;
  --text-displayLarge--font-family: var(--font-pretendard);

  --text-displayMedium: 20px;
  --text-displayMedium--line-height: 24px;
  --text-displayMedium--font-weight: 700;
  --text-displayMedium--font-family: var(--font-pretendard);

  --text-displaySmall: 18px;
  --text-displaySmall--line-height: 24px;
  --text-displaySmall--font-weight: 700;
  --text-displaySmall--font-family: var(--font-pretendard);

  /* Headline Styles */
  --text-headlineLarge: 16px;
  --text-headlineLarge--line-height: 20px;
  --text-headlineLarge--font-weight: 700;
  --text-headlineLarge--font-family: var(--font-pretendard);

  --text-headlineMedium: 14px;
  --text-headlineMedium--line-height: 18px;
  --text-headlineMedium--font-weight: 700;
  --text-headlineMedium--font-family: var(--font-pretendard);

  --text-headlineSmall: 20px;
  --text-headlineSmall--line-height: 24px;
  --text-headlineSmall--font-weight: 500;
  --text-headlineSmall--font-family: var(--font-pretendard);

  /* Body Styles */
  --text-bodyLarge: 20px;
  --text-bodyLarge--line-height: 24px;
  --text-bodyLarge--font-weight: 400;
  --text-bodyLarge--font-family: var(--font-pretendard);

  --text-bodyMedium: 18px;
  --text-bodyMedium--line-height: 24px;
  --text-bodyMedium--font-weight: 400;
  --text-bodyMedium--font-family: var(--font-pretendard);

  --text-bodySmall: 16px;
  --text-bodySmall--line-height: 20px;
  --text-bodySmall--font-weight: 400;
  --text-bodySmall--font-family: var(--font-pretendard);

  /* Label Styles */
  --text-labelLarge: 14px;
  --text-labelLarge--line-height: 18px;
  --text-labelLarge--font-weight: 400;
  --text-labelLarge--font-family: var(--font-pretendard);

  --text-labelLargeMid: 14px;
  --text-labelLargeMid--line-height: 18px;
  --text-labelLargeMid--font-weight: 500;
  --text-labelLargeMid--font-family: var(--font-pretendard);

  --text-labelSmall: 12px;
  --text-labelSmall--line-height: 16px;
  --text-labelSmall--font-weight: 400;
  --text-labelSmall--font-family: var(--font-pretendard);
}
